<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
        <% include ../partials/navbar %>
        <% include ../partials/flash-messages %>
        <%- body -%>
    </section>
  </body>
</html>
