<% layout('layouts/boilerplate') -%>

<h1>New Post!</h1>
<form action="/posts" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" name="post[title]" placeholder="Title" id="">
    </div>
    <div>
        <input type="text" name="post[price]" placeholder="Price" id="">
    </div>
    <div>
        <input type="file" name="images" accept="images/*" multiple id="">
    </div>
    <div>
        <textarea name="post[description]" placeholder="Description"></textarea>
    </div>
    <div>
        <input type="text" name="post[location]" placeholder="Location" id="">
    </div>
    
    <input type="submit" name="" id="">
</form>